* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
img{
    max-width: 100%;
}
.header-top{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.logo-wrapper > .logo{
    width: 250px;
}
.top-ads-wrapper > .ads{
    width: 520px;
    border-radius: 5px;
}

#top-navbar{
    background-color: #00a9c7;
    color: white;
}
#top-navbar ul {
    list-style: none;
    display: flex;
    padding: 3px 0;
}
#top-navbar ul li{
    margin: auto;
}
#top-navbar a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

#top-navbar a:hover{
    background-color: #006172;
}
#top-navbar a.btn{
    background-color: white;
        color: black;
        padding: 8px 12px;
        border-radius: 4px;
}